* { font-family: 'Open Sans', sans-serif; }
body {
    margin: 2em auto;
    width: 100%;
    max-width: 1200px;
    background-image: url(../images/pattern_dark.png);
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1, h2, h3, h4, h5, h6 { color: #687178; }
.container{
    background-color: white;
    padding: 1.5em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}
.myInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2b5074;
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 5px;
}
.myInfo img { width: 35%; }
.myInfo > a { 
    text-align: center; 
    color: white;
    text-decoration: none;
    background-color: greenyellow;
    width: fit-content;
    margin: 0 auto;
    color: #2b5074;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}
.myInfo h1, .myInfo h2 { 
    margin-left: 5%; 
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
}
.principles {
    margin: 1em 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.single-principle {
    width: 98%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    overflow: hidden;
    border: solid 1px #2b5074;
    border-radius: 5px;
    margin-bottom: 50px;
}
.single-principle .principle-title {
    margin: 0;
    padding: .35em 10px;
    text-align: left;
    background-color: #2b5074;
    color: white;
    font-weight: normal;
}
.single-principle .company, .single-principle a {
    padding: .35em 10px;
    margin: 0;
}
.single-principle img  {
    width: 96%;
    margin: 0 auto;
}
.single-principle .desc {
    text-align: left;
    margin: .35em 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer {
    background: #2b5074;
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: calc(100% - 30px);
}
.footer p small { color: greenyellow; }

@media only screen and (max-width: 480px){
    body {
        width: 100%!important;
        padding: 0!important;
        margin: 0!important;
    }
    .myInfo {
        max-width: 100%;
        overflow: hidden;
        border-radius: 0;
    }
    footer.footer {
        max-width: 100%;
        width: calc(100% - 30px);
        border-radius: 0;
    }
    .principles { display: block; width: calc(100% - 2px); }
    .single-principle { width: 95%; padding: 0; margin: 0 auto 50px; }
}

@media only screen and (max-width: 768px) {
    body {
        width: 90%;
        padding: 0 10px;
    }
    footer.footer{ 
        width: calc(100% - 30px);
        padding: 15px;
    }
    .principles {
        grid-template-columns: 1fr 1fr;
    }
    .principles .single-principle:nth-child(1){
        grid-column: 1/2;
        grid-row: 1;
    }
    .principles .single-principle:nth-child(2){
        grid-column: 2/3;
        grid-row: 1;
    }
    .principles .single-principle:nth-child(3){
        grid-column: 1/3;
        grid-row: 2;
        width: 100%;
    }
}
@media screen and ( max-width: 480px){
    .container { 
        margin: .75em;
    }
    .myInfo {
        flex-direction: column;
    }
    .myInfo h1 { 
        text-align: center; 
        margin: 0;
    }
    .myInfo img {
        margin: 0 auto 1em;
        width: 120px;
        height: 120px;
    }
}
